/* Basic styles */
html,
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-image: url('uxie.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Header styles */
.header {
  background-color: #5e257a;
  padding: 20px;
  transition: background-color 0.3s;
}

.header.fixed-top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #f9d423;
}

.logo {
  width: 40px;
  margin-right: 10px;
}

/* Atur lebar galeri */
.carousel {
  width: 100%; /* Ubah sesuai kebutuhan */
  margin: 0 auto; /* Membuat galeri berada di tengah */
}

/* Atur ukuran gambar */
.carousel-item img {
  max-width: 100%; /* Lebar maksimum gambar */
  height: auto; /* Biarkan ketinggian gambar disesuaikan secara otomatis */
  display: block; /* Menghapus spasi tambahan di sekitar gambar */
  margin: 0 auto; /* Membuat gambar berada di tengah */
}

/* Atur lebar tombol prev dan next */
.carousel-control-prev,
.carousel-control-next {
  width: 5%; /* Ubah sesuai kebutuhan */
}

/* Atur posisi tombol prev dan next */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  transform: scale(2); /* Ubah ukuran ikon */
}
.footer {
  background-color: #5e257a; /* Warna latar belakang footer */
  color: white; /* Warna teks di footer */
  padding: 20px 0; /* Padding atas dan bawah footer */
  position: relative; /* Tetap di bagian bawah layar */
  width: 100%; /* Lebar penuh */
  bottom: 0; /* Meletakkan footer di bagian bawah */
}

.footer p {
  margin: 0; /* Menghapus margin bawa default */
}