/* Basic styles */
html,
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-image: url('uxie.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100vh;
}

/* Header styles */
.header {
  background-color: #5e257a;
  padding: 20px;
  transition: background-color 0.3s;
}

.header.fixed-top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #f9d423;
}

.logo {
  width: 40px;
  margin-right: 10px;
}
